<div class="teams-container">

  <div class="filters-container">

    <mat-form-field class="search" appearance="outline" style="flex: 1;">
      <mat-label>Search Team</mat-label>
      <input matInput [ngModel]="searchTerm()" (ngModelChange)="searchTerm.set($event)" placeholder="Type to search...">
      <button class="clear-btn" (click)="clearSearchTerm()"><mat-icon>cancel</mat-icon></button>
    </mat-form-field>

    <div class="actions">
      <button class="create" (click)="createTeam()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

  <div class="grid">
    @if (isLoading()) {
    @for (i of [1,2,3]; track i) {
    <app-card-skeleton></app-card-skeleton>
    }
    } @else {
    @for (team of filteredTeams(); track team.id) {

    <app-team-card [team]="team" (onTeamDeleted)="loadTeams()" (onTeamUpdated)="loadTeams()"></app-team-card>

    } @empty {
    <div class="empty-state">
      <p>No Teams found.</p>
    </div>
    }
    }
  </div>
</div>
