.header-container {
  height: 12vh;
  background: #212121;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container img {
  height: 90%;
  margin-left: 20px;
  padding: 5px;
}

.header-container .teams-button {
  padding: 10px;
  margin-right: 25px;
  cursor: pointer;
  border: solid #aaa;
  border-radius: 12px;
}
