.header-container {
  height: 12vh;
  background: #121212;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container img {
  height: 90%;
  margin-left: 20px;
  padding: 5px;
}

 .btn {
  padding: 10px;
  margin-right: 25px;
  cursor: pointer;
  border: solid #aaa;
  border-radius: 12px;

  &:hover {
    border-color: #ddd;
    color: #ddd;
    box-shadow: 0 0 1.5px 1.5px #ffffff81;
  }
}
