<div class="pokedex-container">

  <div class="filters-container" style="display: flex; gap: 16px; padding: 20px;">

    <mat-form-field appearance="outline" style="flex: 1;">
      <mat-label>Search Pokémon</mat-label>
      <input matInput [ngModel]="searchTerm()" (ngModelChange)="searchTerm.set($event); onFilterChange()" placeholder="Ex: Bulbasaur">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline" style="min-width: 200px;">
      <mat-label>Filter By Type</mat-label>
      <mat-select [ngModel]="selectedTypes()" (ngModelChange)="selectedTypes.set($event); onFilterChange()" multiple>
        @for (type of availableTypes(); track type) {
          <mat-option [value]="type"
          [disabled]="selectedTypes().length >= 2 && !selectedTypes().includes(type)"
          >{{ type | titlecase }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-checkbox [checked]="showOnlyFavorites()" (change)="showOnlyFavorites.set(!showOnlyFavorites()); onFilterChange()">Favorites</mat-checkbox>


  </div>

  <div class="grid">
  @if (isLoading()) {
      @for (i of [1,2,3,4,5,6,7,8,9,10,11,12]; track i) {
        <app-card-skeleton></app-card-skeleton>
      }
  } @else {
      @for (pokemon of pagedPokemons(); track pokemon.id) {

        <app-pokemon-card [pokemon]="pokemon" />

      } @empty {
        <div class="empty-state">
          <p>No Pokémon found with these filters.</p>
        </div>
      }
    }
  </div>
  <mat-paginator
    [length]="filteredPokemons().length"
    [pageSize]="pageSize()"
    [pageSizeOptions]="[8, 18, 48, 151]"
    (page)="onPageChange($event)">
  </mat-paginator>
</div>
