/* You can add global styles to this file, and also import other style files */
// src/styles.scss
* {
  font-family: "Poppins", sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  background-color: #121212;
  color: #cfcfcf;
}

.modal-pokemon-custom {
  .mat-mdc-dialog-surface {
    overflow: hidden;
  }
}

.blur-backdrop {
  background-color: rgba(0, 0, 0, 0.5) !important;

  backdrop-filter: blur(8px) !important;
}
